@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
*{
    margin: 0; 
    background-color: #1e2638;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 100;
}

.main-screen{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.main-screen h1, p{
    color: white;
}

.main-screen h1{
    margin-bottom: 30px;
    margin-top: 5px;
    text-decoration: underline;
    font-size: 52px;
}

.main-screen h2{
    position: relative;
    left: -500px;
    color: #fff;
    font-size: 48px;
    text-decoration: underline;
    margin-bottom: 15px;
}

.main-screen h3{
    color: #00bf63;
    position: relative;
    left: -500px;
    font-size: 25px;
}

.main-screen p{
    text-align: justify;
    text-indent: 60px;
    font-size: 22px;
    letter-spacing: 0.4;
    padding: 50px 10px 50px 10px;
}

.main-screen .imagem{
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 0;
    margin: 0;
}

.main-screen .imagem img {
    margin-right: 10px;
}

.main-screen .imagem #haaland, #vini{
    margin-top: 180px;
}

.main-screen #rodape{
    position: relative;
    left: -600px;
    top: -100px;
    margin-right: 10px;
}

.main-screen #brasil{
    position: relative;
    left: -470px;
    top: -184px;
    width: 34px;
    height: 45px;
}