body {
    font-family: 'Noto Serif', serif;
    color: #ffffff;
    background-color: #1e2638;
}

header {
    background-color: linear;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
}

img {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.788);
    margin: 20px;
}

h1 {
    text-align: left;
    font-size: 30px;
    margin-left: 10px;
}

h2 {
    margin-bottom: 2rem;
    text-align: center;
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
     font-size: 30px;
     margin-top: 3rem;
}

p {
    text-align: center;
}

header {
    border: 1px solid;
    display: flex;
    border-color: black;
    justify-content: space-between;
    background-color: black;

}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imagem {
    border: 1px solid;
    border-color: white;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    float: right;
    position: relative;
    margin-top: -2px;
}

.meu-botao {
    background-color: #0000CD;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 80px;

}

button {
    background-color: #ffffff;
    font-style: inherit;
    border-radius: 3px;
}

button:hover {
    background-color: #4169E1;
}
